@charset "UTF-8";

body {
    background-color: rgb(225,255,200);
    margin:0;
    padding:0;
}

h1,h2,h3,h4 {
    color: rgba(19,39,172,1);
    font-family: Helvetica, sans-serif;
}

header,footer {
    background-color: rgba(175,245,225,1);
}

/* ~~~~ Header Area ~~~~ */

header {
    border-bottom: 3px solid rgba(45,125,45,1);

    
}
header img {
    width:150px;
    height:150px;
    border: solid 2px black;
}

header h1 {
    position:absolute;
    top:40px;
    left:325px;
    font-size: 3em;
}

header nav {
    background-color: rgba(175,175,175,1);
    padding: 5px;
}

header ul {
    background-color: rgba(2255,175,175,1);
    text-align:center;
    padding: 5px;
}

header li {
    background-color: rgba(175,245,200,1);
    display: inline-block;
    width:200px;
    padding:5px;
    font-size:1.5em;
}

header ul a:link, header ul a:visited {
    background-color: rgba(75,145,220,1);
    display:inline-block;
    width:120px;
    text-decoration:none;
    color: rgba(255,255,255,1);
}

.currentPage {
    border:solid 3px rgba(255,25,25,1);
}

header ul a:hover{ 
    background-color: rgba(255,255,255,1);
    color: rgba(75,145,220,1);
}

/* ~~~~ Hero Section ~~~~ */

#myHeroArea {
    background-image: url(../images/background.webp);
    height: 350px;
    background-size:cover;
    background-repeat:no-repeat;
}

#myHeroArea h2 {
    position:relative;
    top: 50px;
    left:25px;
    background-color: rgba(125,125,125,.25);
    padding: 10px 5px;
    text-align:center;
    width:350px;
    border-radius:20px;
}

main {
    position:relative;
    background-color:rgb(255,255,255);
    text-align:center;
}

main article {
    width:27%;
    background-color:rgb(225,225,255);
    display: inline-block;
    margin:.25em 1em;
    padding: .25em .5em;
}

article h3 {
    text-align:center;
}

main article img {
    width:200px;
    height:200px;
    border:5px solid rgb(0,0,0);
}

article p {
    text-align:justify;
}
/* ~~~~ footer rules ~~~~*/

footer {
    
}

footer section {
    background-color: rgb(225,225,225);
    width:31%;
    padding: 5px;
    display:inline-block;
    text-align:center;
    margin: 0 2px;
}

/* ---- contact page rules ---- */
.contactPage main{
    height:650px;
    
}
.contactForm{
    border: solid .25em rgb(25,25,45);
    width: 40%;
    min-width:400px;
    height:600px;
    position:absolute;
    top:10px;
    left:20px;
}

.map{
    border:solid .25em rgb(25,25,45);
    width:50%;
    height:400px;
    position:absolute;
    top:10px;
    right:20px;
}

.phone{
    border:solid .25em rgb(25,25,45);
    width:50%;
    height:150px;
    position:absolute;
    right:20px;
    top:420px;
}

/* ---- about page rules ---- */

.history{
    margin:10px auto;
    border-bottom: solid .5em rgb(25,25,45);
    height:150px;

}

.products, .founder{
    width: 45%;
    margin:10px auto;
    display:inline-block;
    background-color: rgba(175,245,200,1);
    border-radius:25px;
}




